# General dev files
**/__pycache__/
/*.py[cod]
/.ci
/.github
/.idea
/.vs
/venv
.env*
node_modules/

# Specific ComfyUI folders we do not want to copy into the build
/custom_nodes
/input
/models
/output
/temp
/tests
/tests-ui