__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
!comfy/ldm/models/autoencoder.py
/models/
/temp/
# Ignore everything in custom_nodes
/custom_nodes/*
!comfy/ldm/models/autoencoder.py

# Explicitly allow these files/directories
!custom_nodes/example_node.py.example
!custom_nodes/MemedeckComfyNodes/
!custom_nodes/MemedeckComfyNodes/**
!comfy/ldm/models/autoencoder.py
!comfy/ldm/models/

extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store

.env


models
models/
flux_loras/
pysssss-workflows/

comfy-venv
comfy_venv_3.11
models-2

!comfy/ldm/models/autoencoder.py
