# Admins
* @comfyanonymous

# Maintainers
*.md @Comfy-Org/comfy_maintainers
/tests/ @Comfy-Org/comfy_maintainers
/tests-unit/ @Comfy-Org/comfy_maintainers
/notebooks/ @Comfy-Org/comfy_maintainers
/script_examples/ @Comfy-Org/comfy_maintainers

# Python web server
/api_server/ @Comfy-Org/comfy_web_server_devs
/app/ @Comfy-Org/comfy_web_server_devs

# Frontend assets
/web/ @Comfy-Org/comfy_frontend_devs

# Extra nodes
/comfy_extras/ @Comfy-Org/comfy_extra_nodes_devs
