# Rename this file to comfyui-user.conf
# comfyui.sh, comfyui-user.sh and comfyui-venv.sh will just read and add commands defined at COMMANDLINE_ARGS (like e.g. --auto-launch) to the main.py launch process

COMMANDLINE_ARGS=""
