torch~=2.0.0+cu118
torchdiffeq~=0.2.3
torchsde~=0.2.5
einops~=0.6.0
open-clip-torch
transformers>=4.25.1
safetensors>=0.3.0
pytorch_lightning
aiohttp~=3.8.4
accelerate~=0.18.0
pyyaml~=6.0
opencv-python~=4.7.0.72
numpy~=1.24.2
tqdm~=4.65.0
torchvision~=0.15.1
timm~=0.6.13
scipy~=1.10.1
Pillow~=9.5.0
psutil~=5.9.4
transformers