aiohttp
attrs
certifi
einops
filelock
ftfy
fvcore
idna
kornia>=0.7.1
lpips
numba
omegaconf
onnxruntime-gpu
Pillow
psutil
pyyaml
safetensors>=0.3.0
scikit-image
scipy
six
torch
torchsde
torchvision
tqdm
transformers>=4.25.1
ultralytics