__pycache__
.DS_Store
*.cache
*.ini
*.bak
wildcards/**
styles/**
workflow/**
autocomplete/**
web_beta/**
web_version/dev/**
docs/**
.vscode/
.idea/
mmb-preset.custom.txt
config.yaml
node.tar.gz

.cursorrules
tools/ComfyUI-Easy-Use.json