
.group-title-editor.node-title-editor[data-v-8a100d5a] {
  z-index: 9999;
  padding: 0.25rem;
}
[data-v-8a100d5a] .editable-text {
  width: 100%;
  height: 100%;
}
[data-v-8a100d5a] .editable-text input {
  width: 100%;
  height: 100%;
  /* Override the default font size */
  font-size: inherit;
}

.side-bar-button-icon {
  font-size: var(--sidebar-icon-size) !important;
}
.side-bar-button-selected .side-bar-button-icon {
  font-size: var(--sidebar-icon-size) !important;
  font-weight: bold;
}

.side-bar-button[data-v-caa3ee9c] {
  width: var(--sidebar-width);
  height: var(--sidebar-width);
  border-radius: 0;
}
.comfyui-body-left .side-bar-button.side-bar-button-selected[data-v-caa3ee9c],
.comfyui-body-left .side-bar-button.side-bar-button-selected[data-v-caa3ee9c]:hover {
  border-left: 4px solid var(--p-button-text-primary-color);
}
.comfyui-body-right .side-bar-button.side-bar-button-selected[data-v-caa3ee9c],
.comfyui-body-right .side-bar-button.side-bar-button-selected[data-v-caa3ee9c]:hover {
  border-right: 4px solid var(--p-button-text-primary-color);
}

:root {
  --sidebar-width: 64px;
  --sidebar-icon-size: 1.5rem;
}
:root .small-sidebar {
  --sidebar-width: 40px;
  --sidebar-icon-size: 1rem;
}

.side-tool-bar-container[data-v-7851c166] {
  display: flex;
  flex-direction: column;
  align-items: center;

  pointer-events: auto;

  width: var(--sidebar-width);
  height: 100%;

  background-color: var(--comfy-menu-secondary-bg);
  color: var(--fg-color);
  box-shadow: var(--bar-shadow);
}
.side-tool-bar-end[data-v-7851c166] {
  align-self: flex-end;
  margin-top: auto;
}

[data-v-7c3279c1] .p-splitter-gutter {
  pointer-events: auto;
}
[data-v-7c3279c1] .p-splitter-gutter:hover,[data-v-7c3279c1] .p-splitter-gutter[data-p-gutter-resizing='true'] {
  transition: background-color 0.2s ease 300ms;
  background-color: var(--p-primary-color);
}
.side-bar-panel[data-v-7c3279c1] {
  background-color: var(--bg-color);
  pointer-events: auto;
}
.bottom-panel[data-v-7c3279c1] {
  background-color: var(--bg-color);
  pointer-events: auto;
}
.splitter-overlay[data-v-7c3279c1] {
  pointer-events: none;
  border-style: none;
  background-color: transparent;
}
.splitter-overlay-root[data-v-7c3279c1] {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

  /* Set it the same as the ComfyUI menu */
  /* Note: Lite-graph DOM widgets have the same z-index as the node id, so
  999 should be sufficient to make sure splitter overlays on node's DOM
  widgets */
  z-index: 999;
}

[data-v-d7cc0bce] .highlight {
  background-color: var(--p-primary-color);
  color: var(--p-primary-contrast-color);
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0rem 0.125rem;
  margin: -0.125rem 0.125rem;
}

.invisible-dialog-root {
  width: 60%;
  min-width: 24rem;
  max-width: 48rem;
  border: 0 !important;
  background-color: transparent !important;
  margin-top: 25vh;
  margin-left: 400px;
}
@media all and (max-width: 768px) {
.invisible-dialog-root {
    margin-left: 0px;
}
}
.node-search-box-dialog-mask {
  align-items: flex-start !important;
}

.node-tooltip[data-v-9ecc8adc] {
  background: var(--comfy-input-bg);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: var(--input-text);
  font-family: sans-serif;
  left: 0;
  max-width: 30vw;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  transform: translate(5px, calc(-100% - 5px));
  white-space: pre-wrap;
  z-index: 99999;
}

.p-buttongroup-vertical[data-v-94481f39] {
  display: flex;
  flex-direction: column;
  border-radius: var(--p-button-border-radius);
  overflow: hidden;
  border: 1px solid var(--p-panel-border-color);
}
.p-buttongroup-vertical .p-button[data-v-94481f39] {
  margin: 0;
  border-radius: 0;
}

.comfy-menu-hamburger[data-v-962c4073] {
  pointer-events: auto;
  position: fixed;
  z-index: 9999;
}

[data-v-4cb762cb] .p-togglebutton::before {
  display: none
}
[data-v-4cb762cb] .p-togglebutton {
  position: relative;
  flex-shrink: 0;
  border-radius: 0px;
  background-color: transparent;
  padding: 0px
}
[data-v-4cb762cb] .p-togglebutton.p-togglebutton-checked {
  border-bottom-width: 2px;
  border-bottom-color: var(--p-button-text-primary-color)
}
[data-v-4cb762cb] .p-togglebutton-checked .close-button,[data-v-4cb762cb] .p-togglebutton:hover .close-button {
  visibility: visible
}
.status-indicator[data-v-4cb762cb] {
  position: absolute;
  font-weight: 700;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
[data-v-4cb762cb] .p-togglebutton:hover .status-indicator {
  display: none
}
[data-v-4cb762cb] .p-togglebutton .close-button {
  visibility: hidden
}

.top-menubar[data-v-a2b12676] .p-menubar-item-link svg {
  display: none;
}
[data-v-a2b12676] .p-menubar-submenu.dropdown-direction-up {
  top: auto;
  bottom: 100%;
  flex-direction: column-reverse;
}
.keybinding-tag[data-v-a2b12676] {
  background: var(--p-content-hover-background);
  border-color: var(--p-content-border-color);
  border-style: solid;
}

[data-v-713442be] .p-inputtext {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.comfyui-queue-button[data-v-d3897845] .p-splitbutton-dropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.actionbar[data-v-542a7001] {
  pointer-events: all;
  position: fixed;
  z-index: 1000;
}
.actionbar.is-docked[data-v-542a7001] {
  position: static;
  border-style: none;
  background-color: transparent;
  padding: 0px;
}
.actionbar.is-dragging[data-v-542a7001] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
[data-v-542a7001] .p-panel-content {
  padding: 0.25rem;
}
[data-v-542a7001] .p-panel-header {
  display: none;
}

.comfyui-menu[data-v-d792da31] {
  width: 100vw;
  background: var(--comfy-menu-bg);
  color: var(--fg-color);
  box-shadow: var(--bar-shadow);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  box-sizing: border-box;
  z-index: 1000;
  order: 0;
  grid-column: 1/-1;
  max-height: 90vh;
}
.comfyui-menu.dropzone[data-v-d792da31] {
  background: var(--p-highlight-background);
}
.comfyui-menu.dropzone-active[data-v-d792da31] {
  background: var(--p-highlight-background-focus);
}
[data-v-d792da31] .p-menubar-item-label {
  line-height: revert;
}
.comfyui-logo[data-v-d792da31] {
  font-size: 1.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
}
