
.editable-text[data-v-54da6fc9] {
  display: inline;
}
.editable-text input[data-v-54da6fc9] {
  width: 100%;
  box-sizing: border-box;
}

.group-title-editor.node-title-editor[data-v-fc3f26e3] {
  z-index: 9999;
  padding: 0.25rem;
}
[data-v-fc3f26e3] .editable-text {
  width: 100%;
  height: 100%;
}
[data-v-fc3f26e3] .editable-text input {
  width: 100%;
  height: 100%;
  /* Override the default font size */
  font-size: inherit;
}

.side-bar-button-icon {
  font-size: var(--sidebar-icon-size) !important;
}
.side-bar-button-selected .side-bar-button-icon {
  font-size: var(--sidebar-icon-size) !important;
  font-weight: bold;
}

.side-bar-button[data-v-caa3ee9c] {
  width: var(--sidebar-width);
  height: var(--sidebar-width);
  border-radius: 0;
}
.comfyui-body-left .side-bar-button.side-bar-button-selected[data-v-caa3ee9c],
.comfyui-body-left .side-bar-button.side-bar-button-selected[data-v-caa3ee9c]:hover {
  border-left: 4px solid var(--p-button-text-primary-color);
}
.comfyui-body-right .side-bar-button.side-bar-button-selected[data-v-caa3ee9c],
.comfyui-body-right .side-bar-button.side-bar-button-selected[data-v-caa3ee9c]:hover {
  border-right: 4px solid var(--p-button-text-primary-color);
}

:root {
  --sidebar-width: 64px;
  --sidebar-icon-size: 1.5rem;
}
:root .small-sidebar {
  --sidebar-width: 40px;
  --sidebar-icon-size: 1rem;
}

.side-tool-bar-container[data-v-4da64512] {
  display: flex;
  flex-direction: column;
  align-items: center;

  pointer-events: auto;

  width: var(--sidebar-width);
  height: 100%;

  background-color: var(--comfy-menu-bg);
  color: var(--fg-color);
}
.side-tool-bar-end[data-v-4da64512] {
  align-self: flex-end;
  margin-top: auto;
}
.sidebar-content-container[data-v-4da64512] {
  height: 100%;
  overflow-y: auto;
}

.p-splitter-gutter {
  pointer-events: auto;
}
.gutter-hidden {
  display: none !important;
}

.side-bar-panel[data-v-b9df3042] {
  background-color: var(--bg-color);
  pointer-events: auto;
}
.splitter-overlay[data-v-b9df3042] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  pointer-events: none;
  /* Set it the same as the ComfyUI menu */
  /* Note: Lite-graph DOM widgets have the same z-index as the node id, so
  999 should be sufficient to make sure splitter overlays on node's DOM
  widgets */
  z-index: 999;
  border: none;
}

._content[data-v-e7b35fd9] {

    display: flex;

    flex-direction: column
}
._content[data-v-e7b35fd9] > :not([hidden]) ~ :not([hidden]) {

    --tw-space-y-reverse: 0;

    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));

    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}
._footer[data-v-e7b35fd9] {

    display: flex;

    flex-direction: column;

    align-items: flex-end;

    padding-top: 1rem
}

[data-v-37f672ab] .highlight {
  background-color: var(--p-primary-color);
  color: var(--p-primary-contrast-color);
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0rem 0.125rem;
  margin: -0.125rem 0.125rem;
}

.slot_row[data-v-ff07c900] {
  padding: 2px;
}

/* Original N-Sidebar styles */
._sb_dot[data-v-ff07c900] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: grey;
}
.node_header[data-v-ff07c900] {
  line-height: 1;
  padding: 8px 13px 7px;
  margin-bottom: 5px;
  font-size: 15px;
  text-wrap: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.headdot[data-v-ff07c900] {
  width: 10px;
  height: 10px;
  float: inline-start;
  margin-right: 8px;
}
.IMAGE[data-v-ff07c900] {
  background-color: #64b5f6;
}
.VAE[data-v-ff07c900] {
  background-color: #ff6e6e;
}
.LATENT[data-v-ff07c900] {
  background-color: #ff9cf9;
}
.MASK[data-v-ff07c900] {
  background-color: #81c784;
}
.CONDITIONING[data-v-ff07c900] {
  background-color: #ffa931;
}
.CLIP[data-v-ff07c900] {
  background-color: #ffd500;
}
.MODEL[data-v-ff07c900] {
  background-color: #b39ddb;
}
.CONTROL_NET[data-v-ff07c900] {
  background-color: #a5d6a7;
}
._sb_node_preview[data-v-ff07c900] {
  background-color: var(--comfy-menu-bg);
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  color: var(--descrip-text);
  border: 1px solid var(--descrip-text);
  min-width: 300px;
  width: -moz-min-content;
  width: min-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 9999;
  border-radius: 12px;
  overflow: hidden;
  font-size: 12px;
  padding-bottom: 10px;
}
._sb_node_preview ._sb_description[data-v-ff07c900] {
  margin: 10px;
  padding: 6px;
  background: var(--border-color);
  border-radius: 5px;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9rem;
  word-break: break-word;
}
._sb_table[data-v-ff07c900] {
  display: grid;

  grid-column-gap: 10px;
  /* Spazio tra le colonne */
  width: 100%;
  /* Imposta la larghezza della tabella al 100% del contenitore */
}
._sb_row[data-v-ff07c900] {
  display: grid;
  grid-template-columns: 10px 1fr 1fr 1fr 10px;
  grid-column-gap: 10px;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
}
._sb_row_string[data-v-ff07c900] {
  grid-template-columns: 10px 1fr 1fr 10fr 1fr;
}
._sb_col[data-v-ff07c900] {
  border: 0px solid #000;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
}
._sb_inherit[data-v-ff07c900] {
  display: inherit;
}
._long_field[data-v-ff07c900] {
  background: var(--bg-color);
  border: 2px solid var(--border-color);
  margin: 5px 5px 0 5px;
  border-radius: 10px;
  line-height: 1.7;
  text-wrap: nowrap;
}
._sb_arrow[data-v-ff07c900] {
  color: var(--fg-color);
}
._sb_preview_badge[data-v-ff07c900] {
  text-align: center;
  background: var(--comfy-input-bg);
  font-weight: bold;
  color: var(--error-text);
}

.comfy-vue-node-search-container[data-v-2d409367] {
  display: flex;
  width: 100%;
  min-width: 26rem;
  align-items: center;
  justify-content: center;
}
.comfy-vue-node-search-container[data-v-2d409367] * {
  pointer-events: auto;
}
.comfy-vue-node-preview-container[data-v-2d409367] {
  position: absolute;
  left: -350px;
  top: 50px;
}
.comfy-vue-node-search-box[data-v-2d409367] {
  z-index: 10;
  flex-grow: 1;
}
._filter-button[data-v-2d409367] {
  z-index: 10;
}
._dialog[data-v-2d409367] {
  min-width: 26rem;
}

.invisible-dialog-root {
  width: 60%;
  min-width: 24rem;
  max-width: 48rem;
  border: 0 !important;
  background-color: transparent !important;
  margin-top: 25vh;
  margin-left: 400px;
}
@media all and (max-width: 768px) {
.invisible-dialog-root {
    margin-left: 0px;
}
}
.node-search-box-dialog-mask {
  align-items: flex-start !important;
}

.node-tooltip[data-v-0a4402f9] {
  background: var(--comfy-input-bg);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: var(--input-text);
  font-family: sans-serif;
  left: 0;
  max-width: 30vw;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  transform: translate(5px, calc(-100% - 5px));
  white-space: pre-wrap;
  z-index: 99999;
}

.p-buttongroup-vertical[data-v-ce8bd6ac] {
  display: flex;
  flex-direction: column;
  border-radius: var(--p-button-border-radius);
  overflow: hidden;
  border: 1px solid var(--p-panel-border-color);
}
.p-buttongroup-vertical .p-button[data-v-ce8bd6ac] {
  margin: 0;
  border-radius: 0;
}

.comfy-image-wrap[data-v-9bc23daf] {
  display: contents;
}
.comfy-image-blur[data-v-9bc23daf] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comfy-image-main[data-v-9bc23daf] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
}
.contain .comfy-image-wrap[data-v-9bc23daf] {
  position: relative;
  width: 100%;
  height: 100%;
}
.contain .comfy-image-main[data-v-9bc23daf] {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
}
.broken-image-placeholder[data-v-9bc23daf] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 2rem;
}
.broken-image-placeholder i[data-v-9bc23daf] {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.result-container[data-v-d9c060ae] {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-preview-mask[data-v-d9c060ae] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.result-container:hover .image-preview-mask[data-v-d9c060ae] {
  opacity: 1;
}

.task-result-preview[data-v-d4c8a1fe] {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.task-result-preview i[data-v-d4c8a1fe],
.task-result-preview span[data-v-d4c8a1fe] {
  font-size: 2rem;
}
.task-item[data-v-d4c8a1fe] {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.task-item-details[data-v-d4c8a1fe] {
  position: absolute;
  bottom: 0;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.task-node-link[data-v-d4c8a1fe] {
  padding: 2px;
}

/* In dark mode, transparent background color for tags is not ideal for tags that
are floating on top of images. */
.tag-wrapper[data-v-d4c8a1fe] {
  background-color: var(--p-primary-contrast-color);
  border-radius: 6px;
  display: inline-flex;
}
.node-name-tag[data-v-d4c8a1fe] {
  word-break: break-all;
}
.status-tag-group[data-v-d4c8a1fe] {
  display: flex;
  flex-direction: column;
}
.progress-preview-img[data-v-d4c8a1fe] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* PrimeVue's galleria teleports the fullscreen gallery out of subtree so we
cannot use scoped style here. */
img.galleria-image {
  max-width: 100vw;
  max-height: 100vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.p-galleria-close-button {
  /* Set z-index so the close button doesn't get hidden behind the image when image is large */
  z-index: 1;
}

.comfy-vue-side-bar-container[data-v-1b0a8fe3] {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.comfy-vue-side-bar-header[data-v-1b0a8fe3] {
  flex-shrink: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  padding: 0.25rem 1rem;
  min-height: 2.5rem;
}
.comfy-vue-side-bar-header-span[data-v-1b0a8fe3] {
  font-size: small;
}
.comfy-vue-side-bar-body[data-v-1b0a8fe3] {
  flex-grow: 1;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.comfy-vue-side-bar-body[data-v-1b0a8fe3]::-webkit-scrollbar {
  width: 1px;
}
.comfy-vue-side-bar-body[data-v-1b0a8fe3]::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-container[data-v-08fa89b1] {
  height: 100%;
  overflow-y: auto;
}
.queue-grid[data-v-08fa89b1] {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 0.5rem;
  gap: 0.5rem;
}

.tree-node[data-v-633e27ab] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leaf-count-badge[data-v-633e27ab] {
  margin-left: 0.5rem;
}
.node-content[data-v-633e27ab] {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.leaf-label[data-v-633e27ab] {
  margin-left: 0.5rem;
}
[data-v-633e27ab] .editable-text span {
  word-break: break-all;
}

[data-v-bd7bae90] .tree-explorer-node-label {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--p-tree-node-gap);
  flex-grow: 1;
}

/*
 * The following styles are necessary to avoid layout shift when dragging nodes over folders.
 * By setting the position to relative on the parent and using an absolutely positioned pseudo-element,
 * we can create a visual indicator for the drop target without affecting the layout of other elements.
 */
[data-v-bd7bae90] .p-tree-node-content:has(.tree-folder) {
  position: relative;
}
[data-v-bd7bae90] .p-tree-node-content:has(.tree-folder.can-drop)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--p-content-color);
  pointer-events: none;
}

.node-lib-node-container[data-v-90dfee08] {
    height: 100%;
    width: 100%
}

.p-selectbutton .p-button[data-v-91077f2a] {
  padding: 0.5rem;
}
.p-selectbutton .p-button .pi[data-v-91077f2a] {
  font-size: 1.5rem;
}
.field[data-v-91077f2a] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.color-picker-container[data-v-91077f2a] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.node-lib-filter-popup {
  margin-left: -13px;
}

[data-v-f6a7371a] .comfy-vue-side-bar-body {
  background: var(--p-tree-background);
}
[data-v-f6a7371a] .node-lib-bookmark-tree-explorer {
  padding-bottom: 2px;
}
[data-v-f6a7371a] .p-divider {
  margin: var(--comfy-tree-explorer-item-padding) 0px;
}

.model_preview[data-v-32e6c4d9] {
  background-color: var(--comfy-menu-bg);
  font-family: 'Open Sans', sans-serif;
  color: var(--descrip-text);
  border: 1px solid var(--descrip-text);
  min-width: 300px;
  max-width: 500px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 9999;
  border-radius: 12px;
  overflow: hidden;
  font-size: 12px;
  padding: 10px;
}
.model_preview_image[data-v-32e6c4d9] {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.model_preview_image img[data-v-32e6c4d9] {
  max-width: 100%;
  max-height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.model_preview_title[data-v-32e6c4d9] {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
.model_preview_top_container[data-v-32e6c4d9] {
  text-align: center;
  line-height: 0.5;
}
.model_preview_filename[data-v-32e6c4d9],
.model_preview_author[data-v-32e6c4d9],
.model_preview_architecture[data-v-32e6c4d9] {
  display: inline-block;
  text-align: center;
  margin: 5px;
  font-size: 10px;
}
.model_preview_prefix[data-v-32e6c4d9] {
  font-weight: bold;
}

.model-lib-model-icon-container[data-v-70b69131] {
  display: inline-block;
  position: relative;
  left: 0;
  height: 1.5rem;
  vertical-align: top;
  width: 0px;
}
.model-lib-model-icon[data-v-70b69131] {
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  left: -2.5rem;
  height: 2rem;
  width: 2rem;
  vertical-align: top;
}

.pi-fake-spacer {
  height: 1px;
  width: 16px;
}

[data-v-74b01bce] .comfy-vue-side-bar-body {
  background: var(--p-tree-background);
}

[data-v-d2d58252] .comfy-vue-side-bar-body {
  background: var(--p-tree-background);
}

[data-v-84e785b8] .p-togglebutton::before {
  display: none
}
[data-v-84e785b8] .p-togglebutton {
  position: relative;
  flex-shrink: 0;
  border-radius: 0px;
  background-color: transparent;
  padding-left: 0.5rem;
  padding-right: 0.5rem
}
[data-v-84e785b8] .p-togglebutton.p-togglebutton-checked {
  border-bottom-width: 2px;
  border-bottom-color: var(--p-button-text-primary-color)
}
[data-v-84e785b8] .p-togglebutton-checked .close-button,[data-v-84e785b8] .p-togglebutton:hover .close-button {
  visibility: visible
}
.status-indicator[data-v-84e785b8] {
  position: absolute;
  font-weight: 700;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
[data-v-84e785b8] .p-togglebutton:hover .status-indicator {
  display: none
}
[data-v-84e785b8] .p-togglebutton .close-button {
  visibility: hidden
}

.top-menubar[data-v-2ec1b620] .p-menubar-item-link svg {
  display: none;
}
[data-v-2ec1b620] .p-menubar-submenu.dropdown-direction-up {
  top: auto;
  bottom: 100%;
  flex-direction: column-reverse;
}
.keybinding-tag[data-v-2ec1b620] {
  background: var(--p-content-hover-background);
  border-color: var(--p-content-border-color);
  border-style: solid;
}

[data-v-713442be] .p-inputtext {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.comfyui-queue-button[data-v-fcd3efcd] .p-splitbutton-dropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.actionbar[data-v-bc6c78dd] {
  pointer-events: all;
  position: fixed;
  z-index: 1000;
}
.actionbar.is-docked[data-v-bc6c78dd] {
  position: static;
  border-style: none;
  background-color: transparent;
  padding: 0px;
}
.actionbar.is-dragging[data-v-bc6c78dd] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
[data-v-bc6c78dd] .p-panel-content {
  padding: 0.25rem;
}
[data-v-bc6c78dd] .p-panel-header {
  display: none;
}

.comfyui-menu[data-v-b13fdc92] {
  width: 100vw;
  background: var(--comfy-menu-bg);
  color: var(--fg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  box-sizing: border-box;
  z-index: 1000;
  order: 0;
  grid-column: 1/-1;
  max-height: 90vh;
}
.comfyui-menu.dropzone[data-v-b13fdc92] {
  background: var(--p-highlight-background);
}
.comfyui-menu.dropzone-active[data-v-b13fdc92] {
  background: var(--p-highlight-background-focus);
}
.comfyui-logo[data-v-b13fdc92] {
  font-size: 1.2em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
}
