.ccniy-group-manage {
	background: var(--bg-color);
	color: var(--fg-color);
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	border-color: black;
	margin: 20vh auto;
	max-height: 60vh;
}
.ccniy-group-manage-outer {
	max-height: 60vh;
	min-width: 500px;
	display: flex;
	flex-direction: column;
}
.ccniy-group-manage-outer > header {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	background: var(--ccniy-menu-bg);
	padding: 15px 20px;
}
.ccniy-group-manage-outer > header select {
	background: var(--ccniy-input-bg);
	border: 1px solid var(--border-color);
	color: var(--input-text);
	padding: 5px 10px;
	border-radius: 5px;
}
.ccniy-group-manage h2 {
	margin: 0;
	font-weight: normal;
}
.ccniy-group-manage main {
	display: flex;
	overflow: hidden;
}
.ccniy-group-manage .drag-handle {
	font-weight: bold;
}
.ccniy-group-manage-list {
	border-right: 1px solid var(--ccniy-menu-bg);
}
.ccniy-group-manage-list ul {
	margin: 40px 0 0;
	padding: 0;
	list-style: none;
}
.ccniy-group-manage-list-items {
	max-height: calc(100% - 40px);
	overflow-y: scroll;
	overflow-x: hidden;
}
.ccniy-group-manage-list li {
	display: flex;
	padding: 10px 20px 10px 10px;
	cursor: pointer;
	align-items: center;
	gap: 5px;
}
.ccniy-group-manage-list div {
	display: flex;
	flex-direction: column;
}
.ccniy-group-manage-list li:not(.selected):hover div {
	text-decoration: underline;
}
.ccniy-group-manage-list li.selected {
	background: var(--border-color);
}
.ccniy-group-manage-list li span {
	opacity: 0.7;
	font-size: smaller;
}
.ccniy-group-manage-node {
	flex: auto;
	background: var(--border-color);
	display: flex;
	flex-direction: column;
}
.ccniy-group-manage-node > div {
	overflow: auto;
}
.ccniy-group-manage-node header {
	display: flex;
	background: var(--bg-color);
	height: 40px;
}
.ccniy-group-manage-node header a {
	text-align: center;
	flex: auto;
	border-right: 1px solid var(--ccniy-menu-bg);
	border-bottom: 1px solid var(--ccniy-menu-bg);
	padding: 10px;
	cursor: pointer;
	font-size: 15px;
}
.ccniy-group-manage-node header a:last-child {
    border-right: none;
}
.ccniy-group-manage-node header a:not(.active):hover {
	text-decoration: underline;
}
.ccniy-group-manage-node header a.active {
	background: var(--border-color);
	border-bottom: none;
}
.ccniy-group-manage-node-page {
	display: none;
	overflow: auto;
}
.ccniy-group-manage-node-page.active {
	display: block;
}
.ccniy-group-manage-node-page div {
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.ccniy-group-manage-node-page input {
	border: none;
	color: var(--input-text);
	background: var(--ccniy-input-bg);
	padding: 5px 10px;
}
.ccniy-group-manage-node-page input[type="text"] {
	flex: auto;
}
.ccniy-group-manage-node-page label {
	display: flex;
	gap: 5px;
	align-items: center;
}
.ccniy-group-manage footer {
	border-top: 1px solid var(--ccniy-menu-bg);
	padding: 10px;
	display: flex;
	gap: 10px;
}
.ccniy-group-manage footer button {
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 0;
}
.ccniy-group-manage footer button:first-child {
	margin-right: auto;
}
